*{
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
   width: 100%;
   
}


input{
    display: block;
    margin: auto;
    width: 45%;
    height: 40px;
}

#search{
    padding-top: 20px;
    padding-bottom: 20px;
}

.gallery{
   
    display: grid;
    grid-gap: 1rem;
    max-width: 55%;
   justify-items: center;

    margin: auto;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr))
}