*{
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
   border: 1px solid red;
   width: 100%;
   
}


input{
    display: block;
    margin: auto;
    width: 45%;
    height: 40px;
}

#search{
    padding-top: 20px;
    padding-bottom: 20px;
}

.gallery{
    border: 1px solid blue;
    display: grid;
    grid-gap: 2rem;
    width: 55%;

    margin: auto;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr))
}